{
  "env": {
    "production": {
      "presets": [
        ["@babel/preset-env", { "targets": { "esmodules": true } }],
        "@babel/preset-react",
        "@babel/preset-typescript"
      ],
      "plugins": ["babel-plugin-styled-components"]
    },
    "e2e": {
      "presets": [
        ["@babel/preset-env", { "targets": { "esmodules": true } }],
        "@babel/preset-react",
        "@babel/preset-typescript"
      ],
      "plugins": ["babel-plugin-styled-components", "istanbul"]
    }
  }
}
