html,
body {
  margin: 0;
  padding: 0;
  width: 100% !important;
  height: 100% !important;
  font-family: 'Noto Sans', -apple-system, 'Helvetica Neue', 'Segoe UI',
    'Roboto', system-ui, sans-serif;
}
